body {
    background-color: rgb(19, 19, 24);
    color: #b5a4ff
}
h1 {
    color: #AA9245;
    text-align: center;
    text-shadow: 3px 3px 10px black;
}
.message {
    margin-left: 30%;
    margin-right: 30%;
    color: #ACACAC;
    width: 600px;
    text-align: left;
}
li {
    list-style-type: circle;
}

table  { border-collapse: collapse; }
td, th { border: 1px solid black; padding: 3px 8px; }
th     { text-align: left; }