body {
    background-color: rgb(19, 19, 24);
}
h1 {
    color: #AA9245;
    text-align: center;
}
.message {
    margin-left: 30%;
    margin-right: 30%;
    color: #ACACAC;
    width: 600px;
    text-align: left;
}
li {
    list-style-type: circle;
}